.Quelle {
  vertical-align: super;
  font-size: 10;
}

#Reflection {
  border: 1px solid black;
  width: 500px;
  border-radius: 0.5em 0.5em 0.5em;
  font-size: 5;
}


.navigation {
  background: rgba(251, 239, 2, 1);
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
  padding-right: 20px;
  margin-top: 20px;
  line-height: 120%;
  float: left;
  width: 200px;
}

.navigation li {
  list-style-type: none;
}

.navigation a {
  color: black;
  text-decoration-line: none;
}

.navigation a:hover {
  background-color: #1C9C2C;
}

.lv1 {
  font-weight: bold;
}

.lv2 {
  margin-left: -40px;
  font-size: 12px;
  color: red;
}


main {
  background: rgba(251, 239, 2, 1);
  display: block;
  margin-top: 20px;
  line-height: 120%;
  min-width: 16em;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
  padding: 20px;
  padding-left: 35px;
}

body{
  margin: 10px auto;
  max-width: 60em;
  font-family: sans-serif;
  color: #333333;
  background: #1C9C2C;
}

header {
  width: 1000px;
  background-color: rgba(251, 239, 2, 1);
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
}
content {
  background: rgba(251, 239, 2, 1);
  top: 180px;
  width: 180px;
  height: 100%;
}

h1 {
  color: red;
}

header {
  border-color: #000000;
}

footer {
  display: block;
  background: rgba(251, 239, 2, 1);
  margin-top: 20px;
  line-height: 120%;
  min-width: 16em;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  height: 40px;

}

footer author {
  display: flex;
  align-items: center;
  justify-content: center;
}
