.navigation {
  background: rgba(2500,250,250);
  top: 0;
  width: 200px;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
  padding-right: 20px;
  margin-top: 20px;
  display: flex;
  line-height: 120%;

}
.navigation li {
  list-style-type: none;
}

.navigation a {
  color: black;
  text-decoration-line: none;
}
.lv1 {
  font-weight: bold;
}

.lv1:hover {
  color: red;
}
.lv2:hover {
  color: red;
}

.lv2 {
  margin-left: -40px;
  font-size: 12px;
}


main {
  display: block;
  background: rgba(250,250,250  );
  line-height: 120%;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
  margin-top: 20px;
  line-height: 120%;
  margin-left: 40px;
  min-width: 16em;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
}

section {
  display: block;
  float: left;
  width: 3000px;
}


body{
  margin: 10px auto;
  max-width: 60em;
  font-family: sans-serif;
  color: #333333;
}

header {
  width: 1000px;
  height: 180px;
  background-color: rgba(251, 239, 2, 1);
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
}
content {
  background: rgba(251, 239, 2, 1);
  top: 180px;
  width: 180px;
  height: 100%;
}

h1 {
  color: red;
}

header {
  border-color: #000000;
}

footer {
  display: block;
  background: rgba(251, 239, 2, 1);
  margin-top: 20px;
  line-height: 120%;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;
  margin-top: 20px;
  line-height: 120%;
  margin-left: 40px;
  min-width: 16em;
  border-radius: 0.5em 0.5em 0.5em;
  border: 1px solid;


}

@media (min-width: 32em)  {	/* mehrspaltiges Layout f�r breitere Viewports */
  .navigation {
    float: left;
    width: 200px;
  }
  main {
    margin-left: 15em;
    width: 760px;
    height: 370;
  }

  footer {
    margin-left: 15em;
    width: 760px;
    height: 40px;
  }
}
